body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background-image{
  background-image: url("./../images/cinema.jpg");
  background-size: cover;
  width: 1500px;
  height: 800px;
}
h1{
  color:white;
  font-size:115px;
  text-align: right;
}

button{
  display: block;
  width: 300px;
  height: 60px;
  border-radius: 25px;
  border:none;
  float:right;
  margin-right: 27%;
  font-size: 27px;
}